.root {
  color: #0AB843;
  gap: 10px;
  width: 130px;
  height: 40px;
  text-align: center;
  font-weight: 500;
  background: rgba(10, 184, 67, 0.1);
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}
