.root {
  @include root;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container {
  display: flex;
  height: 100%;
  justify-content: center;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  h1 {
    font-size: 28px;
    font-weight: 700;
  }
  button {
    width: 100%;
  }
}

@media screen and (max-width: $first-brake-point) {
  .root {
    width: 100%;
  }
}
