.root {
  @include root;
  width: 100%;
  gap: 20px;
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  h1 {
    font-size: 24px;
  }
  span {
    display: flex;
    flex-direction: column;
    gap: 10px;
    p {
      opacity: 0.4;
    }
  }
}
.postname {
  opacity: 1 !important;
}
.post {
  display: flex;
  flex-direction: row !important;
  align-items: center;
}
