.root {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.container {
  padding: 14px;
  width: 205px;
  min-width: 205px;
}
.card {
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}



@media screen and (max-width: $first-brake-point) {
  .container {
  }
}

@media screen and (max-width: $second-brake-point) {
  .cardImage {
    height: 100px;
  }
  .container {
    padding: 5px;
  }
  .cardTitle {
    font-size: 14px;
  }
}
